<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div> Welcome </div>
    <div><a href="/register/owner">Register as Site Owner</a> | <a href="/register/hunter">Register as Hunter</a></div>
    <div><a href="/login/owner">Login as Site Owner</a> | <a href="/login/hunter">Login as Hunter</a></div>

    <form action="/" method="POST">
        <input type="submit" value="send">
    </form>
</body>
</html>